<div class="bar bar-header bar-assertive"> <div class="buttons buttons-left header-item"> <span class="left-buttons"> <button class="button button-icon button-clear ion-navicon"> </button> </span> </div> <div class="h1 title title-left light">Normal Header</div> <div class="buttons buttons-right header-item"> <span class="right-buttons"> <button class="button button-icon button-clear ion-android-more-vertical"> </button> </span> </div> </div>
                
<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <h1>Categorias Inicio</h1>
    </ion-content>
</ion-view>
